*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #000, 78%,rgb(171, 166, 166));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.nav-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
}

.nav-bar .menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-left: 50px;
    top: 15px;
}

.nav-bar .menu p{
    color: #fff;
}

.nav-bar .menu .bars{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
}

.bars .bar1, .bar2, .bar3{
    margin: 1px auto;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.bars .bar2{
    transform: translateY(7px);
}

.bars .bar3{
    transform: translateY(14px);
}

.welcome{
    max-width: 80%;
    height: 420px;
    margin: 100px auto;
    border-style: ridge;
    border-color: rgb(238, 223, 223);
    border-width: 1px;
    border-bottom-width: 0;
}

.welcome .head{
    position: relative;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    top: -20px;
    background: linear-gradient(to right, #000, 78%, rgb(171, 166, 166));
}

.welcome .head h1{
    color: ghostwhite;
    font-size: 42px;
    margin-bottom: 3px;
}

.welcome .head p{
        color: whitesmoke;
        word-spacing: 3px;
        letter-spacing: 4px;
        margin-bottom: 20px;
}

.welcome .head .btn{
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    padding: 12px;
    border-radius: 2px;
    background-color: red;
}

.welcome .image{
    margin: 50px auto;
    width: 80%;
    height: auto;
}

.welcome .image img{
    width: 100%;
    height: 420px;
}

.figure{
   max-width: 80%;
   height: auto;
   margin: 200px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   border-top: 1px solid gray;
}

.figure .head{
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    top: -20px;
    background-color: #fff;
}

.figure .head h1{
    color: #000;
    font-size: 42px;
    margin-bottom: 3px;
}

.figure .head p{
        color: #000;
}

.figure .text{
   text-align: center;
   width: 80%;
}

.figure .image{
   margin: 50px auto;
   width: 100%;
   text-align: center;
}

.figure .image img{
   width: 90%;
   height: auto;
}

.lists{
   max-width: 100%;
   height: auto;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   background: #000;
}

.lists .list{
   width: 30%;
   height: 350px;
   margin-top: 20px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 20px;
   border: 1px solid rgb(159, 140, 140);
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20), 
   0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.lists .list .image{
        width: 500px;
        height: auto;
}
.lists .list .image img{
        width: 100%;
        height: 185px;
}

.lists .list .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
}

.lists .list .text .head{
    color: whitesmoke;
    margin-bottom: 10px;
}

.lists .list .text .head p{
    font-size: 15px;
}

.lists .list .text .head h1{
    font-size: 28px;
}

.lists .list .text .body{
    color: rgb(212, 196, 196);
    margin-bottom: 50px;
}

.lists .list .text .foot h6{
        color: red;
        font-size: 12.5px;
}

.lists .list .text .foot p{
    color: rgb(212, 196, 196);
    word-spacing: 10px;
    margin-top: 5px;
    font-size: 11px;
}

.last-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}

.last-body .text{
    text-align: center;
    margin: 0 auto;
    width: 35%;
}

.last-body .text .head{
    line-height: normal;
    word-spacing: 5px;
}    

.last-body .text .head p{
    font-size: 12px;
}

.last-body .text .head h1{
            font-size: 28px;
}

.last-body img{
   width: 40%;
   height: auto;
}

.last-body .text .btn{
    position: relative;
    padding: 15px;
    background-color: red;
    text-decoration: none;color: #fff;
    font-size: 10px;
    top: 50px;
}

footer{
    margin-top: 120px;
    background-color: #000;
    color: #fff;
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer .btn{
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background-color: red;
    text-decoration: none;color: #fff;
    font-size: 10px;
    top: 15px;
}

 .logo{
    width: 100px;
    height: auto;margin-top: 20px;
}

 .logo img{
    width: 100%;
    height: 100px;

}

footer .text{
    font-size: 11px;
    transform: translateY(25px);
}



/* Medium Screens */
@media (max-width: 1120px){
    

    .welcome .image{
        margin: 50px auto;
        width: 85%;
        height: auto;
    }
    
    .welcome .image img{
        width: 100%;
        height: 350px;
    }
     
.lists .list{
    width: 40%;
    height: 350px;
 }

.lists .list .image img{
    width: 100%;
    height: 150px;
}

.lists .list .text{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-left: 20px;
}

.lists .list .text .body{
font-size: 15px;
}

.last-body .text{
    text-align: center;
    margin: 0 auto;
    width: 45%;
}

.last-body img{
   width: 35%;
   height: auto;
}

.last-body .text .btn{
    position: relative;
    padding: 15px;
    background-color: red;
    text-decoration: none;color: #fff;
    font-size: 10px;
    top: 50px;
}



}

@media (max-width: 650px){

    body{
        background: linear-gradient(to right, #000, 78%,rgb(171, 166, 166));
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
    }
    
.welcome{
    max-width: 90%;
    height: 240px;
    margin: 100px auto;
    border-style: ridge;
    border-color: rgb(238, 223, 223);
    border-width: 1px;
    border-bottom-width: 0;
}

.welcome .head{
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    top: -20px;
    background: linear-gradient(to right, #000, 78%, rgb(171, 166, 166));
}

.welcome .head h1{
    color: ghostwhite;
    font-size: 32px;
    margin-bottom: 3px;
}

.welcome .head p{
        color: whitesmoke;
        word-spacing: 3px;
        letter-spacing: 4px;
        margin-bottom: 20px;
}

.welcome .head .btn{
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    padding: 12px;
    border-radius: 2px;
    background-color: red;
}

.welcome .image{
    margin: 50px auto;
    width: 100%;
    height: auto;
}

.welcome .image img{
    width: 100%;
    height: 200px;
}

    .lists{
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background: #000;
     }
     
     .lists .list{
        width: 90%;
       height: 600px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-right-width: 0;
        border-left-width: 0;
        border-radius: 0;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
     }

     
.lists .list .image{
    width: 80px;
    height: auto;
}
.lists .list .image img{
    width: 100%;
    height: 150px;
}

.lists .list .text{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-left: 20px;
line-height: 1.5;
}

.lists .list .text .head{
color: whitesmoke;
margin-bottom: 10px;
}

.lists .list .text .head p{
font-size: 16px;
}

.lists .list .text .head h1{
font-size: 22px;
}

.lists .list .text .body{
color: rgb(212, 196, 196);
margin-bottom: 50px;
}

.lists .list .text .foot h6{
    color: red;
    font-size: 12.5px;
}

.lists .list .text .foot p{
color: rgb(212, 196, 196);
word-spacing: 10px;
margin-top: 5px;
font-size: 11px;
}


.last-body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}


.last-body .text{
    margin: 50px auto;
    width: 90%;
    font-size: 15px;
    line-height: 1.5;
}

.last-body img{
   width: 70%;
   margin-left: 150px;
   height: auto;
}


}