*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     font-family: 'Source Sans Pro', sans-serif;
}

:root{
     --White: hsl(0, 0%, 100%);
     --Very-light-grayish-blue: hsl(210, 60%, 98%); 
     --Light-grayish-blue-1: hsl(211, 68%, 94%); 
     --Light-grayish-blue-2: hsl(205, 33%, 90%); 
     --Grayish-blue: hsl(219, 14%, 63%);
     --Dark-grayish-blue: hsl(219, 12%, 42%);
     --Very-dark-blue: hsl(224, 21%, 14%);
}

p{
     font-size: 18px;
}

section{
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
     height: 185vh;
     max-width: 85%;
     margin: 0 auto;
     margin-bottom: 50px;
}

.container{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 65%;
     height: auto;
     position: relative;
     top: 100px;
     margin: 100px auto;
     border-radius: 10px;
     background-color: var(--White);
     box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.container .header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     height: auto;
     margin: 30px auto;
     cursor: pointer;
}

.container .header .tag{
     font-size: 22px;
}

.container .header .tag .count {
     color: var(--White);
     padding: 5px;
     border-radius: 5px;
}

.container .header #read-btn{
     cursor: pointer;
     font-size: 13px;
     outline: none;
     border: none;
     height: 40px;
     width: 150px;
     transition: 0.5s;
}

.container .header #read-btn:hover{
     transform: scale(1.1);
}

.container .body{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     height: auto;
     width: 100%;
     margin-top: 50px;
}

.container .box{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: left;
     height: 80px;
     width: 95%;
     margin: 20px auto;
     border-radius: 8px;
     background-color: ghostwhite;
     transition: all 0.5s;
     cursor: pointer;
}

.container .box:hover{
     transform: scale(0.95);
}

.container .messaged {
     height: 200px;
}

.container .messaged .inner-text{
     width: 70%;
     margin: 15px auto;
     border: 1px solid var(--Light-grayish-blue-2);
}

.container .messaged .inner-text p{
     margin: 10px auto;
     width: 95%;
     font-size: 16px;
}

.container .active{
     background-color: var(--Light-grayish-blue-1);
}

.container .box .text{
     display: flex;
     align-items: center;
     width: 90%;
     margin-left: 20px;
     margin-top: 5px;
}

.container .box .text img{
     width: 45px;
     height: 45px;
     border-radius: 50%;
}

.container .box .text #name{
          font-size: 19px;
          font-weight: bold;
          color: var(--Very-dark-blue);
          margin-left: 10px;
}

.container .box .text #info{
     color: var(--Dark-grayish-blue);
     margin-left: 10px;
}

.container .box .text .unreadmessage{
          color: rgb(15, 15, 74);
          margin-left: 10px;
          font-weight: 550;
}


.container .box #time{
     margin-left: 80px;
     color: var(--Dark-grayish-blue);
} 

.container .box #kim-img{
     border-radius:5px;
     position: absolute;
     right: 35px;
     margin-top: 20px;
}

.inner-message{
     background-color: green;
     width: 75%;
     height: 100px;
     position: relative;
     margin: 20px auto;
     line-height: 1.5;
     word-spacing: 2px;
}

.inner-message p{
     font-size: 16px;
}

.active .material-icons{
     color: red;
     font-size: 12px;
     position: absolute;
     right: 50px;
     margin-top: 30px;
}

@media(max-width: 700px) {

     section {
               height: 200vh;
               max-width: 95%;
          }

          .container{
               width: 90%;
          }
     
     
          .container .header .tag {
               font-size: 19px;
          }
     
                    .container .body{
                         margin-top: 10px;
                    }
     
          .container .box {
               height: 95px;
               width: 95%;
               line-height: normal;
               margin: 20px auto;
          }
                    .container .messaged {
                         height: 235px;
                    }
          
                    .container .messaged .inner-text p {
                         width: 90%;
                         font-size: 14px;
                    }
     
          .container .box .text {
               display: flex;
               align-items: center;
               width: 95%;
               margin: 5px auto;
          }
     
          .container .box .text img {
               width: 40px;
               height: 40px;
               border-radius: 50%;
          }
     
          .container .box .text #name {
               font-size: 16px;
               margin-left: 10px;
          }
     
          .container .box .text #info {
               margin-left: 0;
               font-size: 14px;
          }
     
          .container .box .text .unreadmessage {
               margin-left: 0;
               font-size: 15px;
          }
     
          .container .box #time {
               margin-left: 60px;
               font-size: 14px;
          }

                    .container .box #kim-img {
                         right: 10px;
                    }

                    
.active .material-icons{
     color: red;
     font-size: 10px;
     position: absolute;
     right: 50px;
     margin-top: 10px;
}
}