@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

body{
  background: rgb(251, 247, 239);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.searchBox {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 10px;
  box-shadow: 0px 3px 10px #efeefe;
}


.searchBox input {
  border: none;
  outline: none;
  height: 40px;

}

.searchBox input[type="text"] {
  width: 80%;
  height: 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
  padding: 0 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: display;

}

.searchBox input[type="submit"] {
  width: 20%;
  height: 50px;
  background: rgb(197, 162, 92);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
  color:#ffffff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  font-family: Roboto;
}

.data {
  padding: 10px;
}

.data .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info p {
  width: 50%;
  font-size: 18px;
  color: #000;
  margin: 5px 0;
  display: block;
  width: 100%;
  padding: 10px 0px;
}

.info p span {
  font-weight: 300;
}

.closelyRelated {
  padding: 5px;
}

.closelyRelated h2 {
  padding: 10px 0;
  font-weight: 400;
}

.relatedList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 10px;
}

.relatedList li {
  list-style-type: none;
  display: inline;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 300;
  text-decoration: bold;
  box-shadow: 0px 3px 10px #efeefe;
}